.display-inline {
  display: inline;
}
.link {
  text-decoration: none;
  color: inherit;
}

.menu-header {
  background-color: #000;
  color: #fff;
}
.list-ele {
  list-style: none;
}
