:root {
  --blanco: #fff;
  --negro: #000;
  --verSpotify: #26b758;
  --grisSpotify: #232323;
  --roboto: "Roboto", sans-serif;

  /* Colores importantes */
  --naranja: #f60;
  --pistacho: #9ed18d;
}

* {
  box-sizing: border-box;
  font-family: var(--roboto);
  /* REPASAR ^^ */
}

.display-inline {
  display: inline;
}

/* NAV */

.link {
  text-decoration: none;
  color: inherit;
  padding: 0 15px;
  font-weight: 700;
}

.last-link {
  margin-right: 20px;
}

.elcoso {
  padding: 15px;
  /* ELEMENTO MUY FUNDAMENTAL EN LA VIDA */
}

.menu-header {
  position: sticky;
  top: 0;

  background-color: var(--negro);
  color: var(--blanco);

  font-size: 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  width: 150px;
  padding: 15px;
  margin-left: 10px;
}

.container-flex-001 {
  display: flex;
}

.list-ele {
  list-style: none;
}

/* HEADER */

.header {
  height: 50%;
  background: #529cf1 url(../images/premium_dancer.png) right no-repeat;
  background-size: contain;
  /* INVESTIGAR ESTE MISTERIO */
  color: var(--blanco);
  padding: 35px;
}

.title-hero {
  max-width: 80%;
  margin-top: 10px;
  font-size: 70px;
  font-weight: 900;
}

.title-description {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
}

.aprender-flex {
  /* height: 300px;
  background-color: var(--naranja); */
  display: flex;
  /* 1º - Elegir el eje principal */
  flex-direction: row;
  /* 2º - Justify-content - Alinea y/o distribuye los elemenetos en el eje principal */
  justify-content: space-between;
  /* 3º - Align-items - Alinea y/o distribuye los elemenetos en el eje secundario  */
  align-items: center;
  /* 4º - Flex-wrap - Especifica si los elementos saltan de línea o no */
  flex-wrap: wrap;
}

.boton {
  margin: 40px 0;
  width: 200px;
  height: 44px;
  padding-top: 4px;
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;

  border: 0px;
  border-radius: 22px;
}

.boton-hero {
  color: var(--blanco);
  background-color: var(--verSpotify);
}

.small-text {
  max-width: 60%;
  font-size: 12px;
}

/* MAIN */

.main {
  padding: 35px;
}

.subtitle {
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 1px;
  color: var(--grisSpotify);
}

.container-flex-002 {
  display: flex;
}

.box {
  background-color: var(--pistacho);
  border: 1px solid #000;

  width: 100%;
  padding: 15px;
  text-align: center;
}

/* .clase1 > .clase2 --> Significa que afecta solo a las .clase2 que sean hijes de .clase1 */
.box > img {
  width: 150px;
}

.box > h3 {
  letter-spacing: 1.5px;
}
